.DS_Store
node_modules
.eslintrc.js
.env
/public/icons
/dist
/build
public/bundle.js
manifest.json
offline.html
robots.txt
service-worker.js
/sass
server/models
server/routes/index.js
server/src/components/settings/DeleteAccount.js
server/src/api.js
server/passport-config.js
server/config.js
views/index.ejs
babel.config.js
package-lock.json
Procfile
webpack.config.js