<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="maximum-scale=1, user-scalable=yes, shrink-to-fit=no">

    <!--Meta tags-->
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="AppliTrace">
    <meta name="description" content="AppliTrace is a web application for tracking the status of work applications during the job search.">
    <meta name="theme-color" content="#2C343A" />
    <link rel="apple-touch-icon" href="/icons/st-icon-152x152.png">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <!--Style and fonts-->
    <link rel="stylesheet" href="/style.css" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title><%- page_title %></title>
</head>
<body>
    <noscript>Javascript is required by AppliTrace.</noscript>
        
    <%- include('./partials/messages') -%>